* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

ol, ul {
    /* Annule l'affichage des pucs et numéros des listes*/
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    align-items: stretch;
    background-color: transparent;
    border: 0;
    color: inherit;
}