:root {
    --light-bg: #fefefe;
    --light-nav: #ffcece;
    --dark-bg: rgba(107, 218, 92, 0.788);
    --dark-text: rgb(36, 36, 36);
    --hl-color: rgba(255,255,255,.5);
    --hl-active-color: rgba(255,255,255,.75);
}

body {
    background-color: rgb(222, 240, 143);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-text);
    min-height: 100vh;    
}

h1{
    align-self:flex-end;
    font-family: 'Press Start 2P', cursive;    
    font-size: 26px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(10, 8, 6, 0.87);
    color: rgb(128, 67, 67);
}

h2, h3 {
    font-family: 'Permanent Marker', cursive ;
}


h2 {
    font-size: 20px ;
}

h3 {
    font-size: 17px;
}

header{
    background-color: rgb(168, 162, 162);
    background-image: url("img-css/photo-tetris.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
}

.hidden {
    display: none !important;
}



.top-header{
    position: relative;
    z-index: 1;
}

    .top-header .name {
        font-family: 'Press Start 2P', cursive;
        font-size: 18px;
        padding: 10px;
        text-shadow: 2px 2px 0 rgba(10, 8, 6, 0.87);
        color: rgb(128, 67, 67);
    }


.btn-avatar {
    justify-self: center;
    height: 100%;
}
.portrait {
    display: block;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

    .portrait img {
        display: inline-block;
        height: 100%;
    }

    .portrait .photo {
        display: block;
    }


    .btn-avatar {
        z-index: 100;
    }


.btn-pacman {
    align-content: center;
    border-radius: 25%;
    background-color: rgb(10, 9, 9);
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    padding: 6px;
    position: absolute;
    right: 15px;
    top: 11px;
    width: 40px;
    z-index: 1;
}
    .btn-pacman .pacman {
        background-color: #e4cf17;
        border-radius: 50%;
        position: relative;
        height: 100%;
        padding: 3px 0;
        width: 100%;
        transition: transform 1s cubic-bezier(0.72, 0.73, 0.35, 1.63);
    }

    .btn-pacman .pacman-eye {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        top: 5px;
        right: 7px;
        background: #333333;
      }
    .btn-pacman .pacman-mouth {
        background: #000;
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }

    .btn-pacman.close .pacman{
        transform: rotateZ(-280deg);
    }   

    .btn-pacman .nav-main-menu {
        display:  flex;
        flex-direction: column;
    }




.main-menu-w nav {
    background-color: #000000de;
    position: absolute;
    right: 0px;
}

.main-menu-w nav > ul li {
    border: 1px dotted rgb(207, 163, 17) ;
}

.main-menu-w nav a {
    display: block;
    font-family: 'Flavors', cursive;
    font-size: 18px;  
    padding: 15px;
    text-align: center;
}

    .main-menu-w nav li:nth-of-type(odd) {
        color:rgb(41, 99, 206);
    }

    .main-menu-w nav li:nth-child(even) {
        color:rgb(32, 165, 32);
    }

/* Main */    
.content-w section {
    margin: 30px 0;
}

main {
    flex-grow: 1;
    text-align: center;
}

main button h2 {
    border: solid rgba(20, 107, 25, 0.87);
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

main button h3 {
    border:solid rgb(69, 37, 212);
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    }

main section {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: bold;
}

    main section li:nth-of-type(even) {
        color: rgb(139, 8, 8);
    }

    main section li:nth-of-type(odd) {
        color: rgb(69, 23, 155);
    }

.competences,
.exp-pro,
.formation {
    padding: 10px;
    text-align: center;
}

.languages,
.hobbies {
    padding: 10px;
    text-align: center;
}


footer {
        background-image: url("img-css/Warp_pipe.webp");
        background-color: rgb(87, 204, 250);
        background-size: 100%;
        
    }

    .top-footer-content {
        font-weight: bold;
        padding: 15px 0;
        position: relative;
        text-align: center;
        z-index: 1;
    }

        .top-footer-content .contact i {
            color: rgb(37, 55, 136);
            
        }

            .top-footer-content .contact i span {
                font-family: 'Press Start 2P', sans-serif;
                font-size: 12px;
                padding: 5px;
            }



    .bottom-footer {
        display: flex;
        font-size: 13px;
        justify-content: space-between;
        padding: 10px;   
    }

        .bottom-footer .to-top {
            color: rgb(151, 12, 12);
            font-size: 25px;
        }


@media (min-width: 768px) {

    * {
        font-size: 16px;
    }

    .top-footer-content {
        display: flex;
        align-content: center;
    }

        .top-footer-content address {
            display: flex;
            justify-content: center;
        }

            .top-footer-content .contact {
                align-self: center;
            }

        /*.top-footer-content > * {
            flex-grow: 1;
        }*/

}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 29px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
    

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .competences {
            flex-basis: 100%;
            justify-self: center;
        }


        .formation, .exp-pro {
            flex: 0 0 50%;
        }

    .advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer {
        background-image: url("img-css/Trico.jpg");
        background-color: rgb(87, 204, 250);
        color: #3a043e;
    }

        .top-footer-content >* {
            flex-grow: 1;
        }
}

@media (min-width: 992px){

    .container {
        margin-right: auto;
        margin-left: auto;
        width: 940px;
    }
    
    header{
        background-color: rgb(168, 162, 162);
        background-image: url("img-css/photo-tetris.jpg");
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

        .top-header {
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 940px;
        }

            .top-header .name {
                color: rgb(255, 0, 0);
            }

            h1 {
                color: rgb(3, 241, 13);
                text-shadow: 2px 2px 0 rgba(10, 8, 6, 0.87);
            }
            
        .btn-pacman{
            display: none;
        }

        .main-menu-w nav {
            background-color: transparent;
            display: block !important;
            font-size: 18px;
        }

            .main-menu-w nav > ul {
                display: flex;
            }

                .main-menu-w nav >ul li {
                    border:none
                }

                .main-menu-w nav > ul > li > a {
                    text-shadow: 2px 2px var(--light-nav);
                    transition: background 300ms;
                }

                .main-menu-w nav >ul >li:hover > a {
                    background-color: var(--dark-bg);
                }

    .content-w {
        margin-right: -15px;
        margin-left: -15px;
    }
            
        .content-w > * {
            padding-right: 15px;
            padding-left: 15px;
        }

        .content-w .description {
            display: flex;
        }
    
            .content-w .description .skills {
                flex-basis: 50%;
            }

            .content-w .description .advantages {
                flex-basis: 50%;
            }

    footer {
        background-image: url("img-css/alttp3.png");
        background-size: 100%;
        background-position: center;
                
    }
        .top-footer-content {
            display: flex;
            flex-grow: 0;
            justify-content: space-between;
        }
}